body{

    font-family: 'Cinzel', serif;
    text-align: center;
    color: #E4E7FF;
    margin: 0;
    padding: 0;
    background-color: #253445;
}

#imgFundo{

    width: 100%;
    height: 100vh;
    background-image: url("../imagens/bannerLandingPage.png");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

::-webkit-scrollbar {

    width: 0;
}

#barraRolagem{

    position: fixed;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background:  #253445;
}

#Scrolllado {

    position: fixed;
    top: 0;
    right: 0;
    width: 15px;
    background: linear-gradient( to top, #FFC535, #FF4C4C, #69DFFF, #2CC6AF );
    animation: animacao 700ms linear infinite;
    border-radius: 200px;
}
@keyframes animacao {

    0%,100%{

        filter: hue-rotate(0deg);
    }
    50%{

        filter: hue-rotate(360deg);
    }

}

#Scrolllado:before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( to top, #FFC535, #FF4C4C, #69DFFF, #2CC6AF );
    filter: blur(20px);
    border-radius: 200px;
}

#Scrolllado:after {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( to top, #FFC535, #FF4C4C, #69DFFF, #2CC6AF );
    filter: blur(20px);
    border-radius: 200px;
}

:root{

    font-size: 20px;
    font-family: 'Girassol', cursive;
    --text-primary: #FF4C4C;
    --text-secundary: #6C319E;
    --bg-primary: #ffc535;
    --bg-secundary: #2CC6AF;
}

.navbar{

    width: 6rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    border-radius: 20px;
    transition: 600ms ease;
}

main{

    margin-left: 6rem;
    padding: 1rem;
}

.navbar-nav{

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-items{

    margin-bottom: 1.5rem;
}

.icon-nav{

    margin-bottom: 0.5em;
}

.nav-links{

    display: flex;
    align-items: center;
    height: 6rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: 600ms ease;
}

.texto-link{

    display: none;
    margin-left: 1rem;
    font-family: 'Girassol', cursive;
    font-weight: bolder;
    font-size: 40px;
}

.navbar:hover{

    width: 20rem;
    background-color: var(--bg-secundary);
}

.navbar:hover .texto-link{

    transition: 600ms ease;
    display: block;
    color: var(--text-secundary);

}

#conteudo{

    background-color: #253445;
}

.Titulos{

    color: #FFC535;
    font-family: 'Girassol', cursive;
}
.subTitulos{

    color: #2FA6FF;
    font-family: 'Girassol', cursive;
    margin-top: 2rem;
}

#titulo1{

    margin-top: 7rem;
}
.texto{

    font-family: 'Cinzel', serif;
    text-align: center;
    color: #E4E7FF;
    margin-top: 2rem;
}

footer{

    background: #ffc535;
    height: auto;
    width: 100vw;
    padding-top: 6px;
    color:#FF4C4C;
}
.footer-content{

    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h1{

    color: #6C319E;
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{

    max-width: 500px;
    margin: 5px auto;
    line-height: 28px;
    font-size: 32px;
    color:#253445;
}
.socials{

    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
    font-size: 1.9rem;
}
.socials li{

    margin: 0 60px;
}

.footer-bottom{

    background:#2CC6AF;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{

    color: #253445;
    font-size: 24px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin-top: 1em;
}
p{
    color: #ffc535;
    text-align: center;
}

a:hover {

    color: #FF4C4C;
}
a:active {

    color: #2FA6FF;
}

